$color_1: #FF6F40;
$color_2: #fff;


%flex-row {
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-direction: row; 
    flex-wrap: wrap; 
    align-content: center;
}
%flex-column {
    display: flex;
    justify-content: space-between;  
    flex-direction: column; 
    flex-wrap: wrap; 
    align-content: center;
}
@mixin media-width($max-width) {
    @media (min-width: 375px) and (max-width: 1320px) {
        max-width: $max-width;
        margin: auto;
        margin-bottom: 50px;
    }
}

@mixin img($background-image) {
    display: flex;
    justify-content: flex-end; 
    align-items: stretch; 
    flex-direction: column;
    align-items: center; 
    background-image: $background-image;
    background-repeat: no-repeat;
    min-height: 590px;
    max-width: 370px;
    color: $color_2;
    border-radius: 30px;
    margin: 20px;
}

html {
    box-sizing: border-box;
  }
*, *::before, *::after {
    box-sizing: inherit;
  }

body{
    background-color: rgb(208, 202, 195);
}


nav {
    background-color:$color_2;
    max-width: 1728px;
    min-height: 100px;
    margin: 0 auto;
    padding: 0 244px;
    font-size:x-large;
    .collapse{
        justify-content: flex-end;
        ul{
            align-items: center;
        }
        
    }

}
.login  {
    margin: 20px;
    min-height: 56px;
    min-width: 110px;
    &:hover{
        background-color: $color_1;
    }
}

header {
    button {
        margin: 0 auto;
        width: 215px;
        height: 56px;
        
    }
    span{
        color: $color_1;
    }
    >div{
        margin: 0 auto;
        max-width: 1728px;
        background-color:$color_2;
        .btn{
            background-color:#5A9A5B ;
            &:hover{
                background-color: $color_1;
        }
        
    }
}
}

main {
    margin: 0 auto;
    max-width: 1728px;
    background-color: $color_2;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    @media (min-width: 370px) and (max-width: 1718px) {
        padding-left: 30px;
        padding-right: 30px;
    }
} 

.foto {
    @extend %flex-row;
    figure {
        margin: 0 auto;
        margin-bottom: 20px;
        img{
           max-width: 300px;
           max-height: 500px;
        }
    }
}
.content {
    @extend %flex-row;
    padding-top: 100px;
    padding-bottom: 100px;
    .content2 {
        max-width: 604px;
        max-height: 452px;
        margin-bottom: 100px;
        padding-right: 20px;
        h1{
            margin-bottom: 60px;
            span{
                color: $color_1;
                
            }
        }
        p{
            margin-bottom: 30px;
        }
        div {
            display: flex;
            div{
                margin-right: 20px;
                flex-wrap: wrap;
                margin-top: 20px;
            }
        }
    }
    .content3{
        display: flex;
        justify-content: flex-end; 
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%; 
        width: 604px;
        height: 452px;
        background-image: url(/img/unsplash_sQopSb2K0CU.png);
        background-repeat: no-repeat;
        
        figure {
            position:relative;
        }
    }
}

.content4 {
    
   h1{
    text-align: center;
    margin-bottom: 60px;
    span{
        color: $color_1;
    }
   }
   div{
    display: flex;
    justify-content: center;  
    flex-wrap: wrap; 
    div{
        min-height: 156px;
        min-width: 604px;
        flex-direction: column;
    }
   }
}

.content5 {
    margin-bottom: 100px;
    article {
        h1{ 
            margin-bottom: 60px;
            span{
                color: $color_1;
            }
        }   
        p{
           margin-bottom: 60px;     
        }
        div{
            @extend %flex-row;
            
            figure {
            margin: 0 auto;
            max-height: 411px;
            max-width: 385px;
            margin-bottom: 30px;
                img {
                margin-bottom: 30px;
                }
                h3{
                margin-bottom: 30px;
                }      
            }  
        }
    }
}

.content6 {
    >div {
        margin-bottom: 50px;
        @extend %flex-row;
        @include media-width(80%);
        
        h1{
            min-height: 192px;
            max-width: 604px;
            @media(min-width: 370px) and (max-width: 1317px) {
                min-height: 120px;
            }
            span{
                color: $color_1;
            }
        }
        div{
            justify-content:flex-start;
            min-height: 192px;
            max-width: 604px;
            @media(min-width: 370px) and (max-width: 1260px) {
                display: flex;
                justify-content: space-between; 
                align-items: center;  
                flex-direction: column; 
                flex-wrap: wrap; 
                align-content: stretch;
            }

        }
    }
    button{
        width: 215px;
        height: 56px;
        background-color:#5A9A5B ;
        margin-top: 20px;
        &:hover{
        background-color: $color_1;
        }
    }
    figure{
        @extend %flex-row;
        display: flex;
        justify-content: center;         
        margin: 0 auto;
        margin-bottom: 100px;
        .img1{
            @include img(url(/img/card\ \(1\).png));
            p{
                text-align: center;
            }
        }
        .img2{
            @include img(url(/img/card\ \(2\).png));
            p{
                text-align: center;
            }
        }
        .img3{
            @include img(url(/img/card\ \(3\).png));
            p{
                text-align: center;
            }       
        }
    }
}


.content7 {
    margin-top: 100px;
        >div{
            @extend %flex-row;
            justify-content: space-between;
            @media(min-width: 370px) and (max-width: 745px) {
                flex-direction: column;
                justify-content: center; 
            }
            margin-bottom: 30px;
            h1{
                min-height: 96px;
                max-width: 391px;
            }
            >p{
                min-height: 96px;
                max-width: 742px;
            }
        }
}

.menu{
    @extend %flex-row;

    figure{
        border-radius: 27px;
        background: $color_2;
        box-shadow:  7px 7px 18px #6c6c6c,-7px -7px 18px #ffffff;
        height: 384px;
        width: 286px;
        @extend %flex-column;
        margin-bottom: 60px;
        img{
            border-radius: 27px 27px 0 0;
        }
            div{
                @extend %flex-row;
                justify-content: space-evenly;
                padding-bottom: 10px;
                button{
                    &:hover{
                    background-color: $color_1;}
                }
            }
        }
    }

.content8{
    >div{
        @extend %flex-row;
        div{
            h1{
                margin-bottom: 40px;
            }
            width: 500px;
            height: 500px;
        }
        .text{
            display: flex;
            justify-content: space-between; 
            align-items: stretch;  
            flex-direction: column; 
            flex-wrap: wrap; 
            align-content: stretch;
            width: 600px;
            height: 350px;
            
            img{
                height: 74px;
                width: 74px;
            }
            div{
                display: flex;
                justify-content: center;  
                flex-direction: column;  
                h3{
                    margin-bottom: 30px;
                }
            }
        }
    }    
}

.address {
    >div{
        @extend %flex-row; 
        justify-content: space-between;
        margin-bottom: 20px;
        h1{
            min-height: 96px;
            width: 530px;
        }
        >p{
            min-height: 96px;
            width: 530px;
        }
    }
    .maps{
        @extend %flex-column;
        max-width: 660px;
        max-height: 530px;
        .text{
            @extend %flex-row;
            justify-content: space-between; 
           div{
                margin-bottom: 20px;
                width: 300px;
                height: 100px;
           }
        }
    }
}
.mapswrapper {
    margin-bottom: 20px;
    background: #fff;
    position: relative;
    iframe {
        border: 0;
        position: relative;
        z-index: 2;
    }
    a {
        color: rgba(0, 0, 0, 0);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        text-decoration: none;
    }
}
form{
    @extend %flex-column;
    
    height: 530px;
    max-width: 100%;
        input{
            outline:0;
            color: #333333;
            font-size: 24px;
            padding: 25px 10px;
            width: 508px;
            height: 48px;
            border-radius: 0px;
            border: 1px solid #d6d6d6;
            background-color: #F5F5F5FF;

            &:active, &:focus {
                background-color: #ffffff;
                color: #000000;
                border: 1px solid #969696;
            }
        }
        .btn{
            width: 530px;
            height: 48px;
            border-radius: 10px; 
            background-color:#5A9A5B ;
            color: $color_2;
            &:hover{
                background-color: $color_1;
            }
        }   
}

footer{
    padding-left: 100px;
    padding-right: 100px;
    @extend %flex-row;
    justify-content: space-between;
    align-items: stretch; 
    background-color: #000000;
    margin: 0 auto;
    max-width: 1728px;
    padding-bottom: 50px;
    padding-top: 50px;
    @media (min-width: 400px) and (max-width: 1718px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer{
        height: 307px;
        width: 398px;
    }
    div,ul{
        @extend %flex-column;
        justify-content:space-around;
        color: $color_2;
    }
}
  /* Styles of a dark topic */

  body.dark-theme {
    color: #eee;
    background-color: #121212;;
    a{
        color: #eee;
        &:hover,&:focus{
            color: $color_1;
        }
    }
    header{
        color: #eee;
        div{
            color: #eee;
            background-color: #444;
            h1{
                color: #eee;
            }
        }
    }
    nav{
        color: #eee;
        background-color: #242220;
        .navbar-toggler{
            background-color: #545454;
        }
    }
        main{
        color: #eee;
        background-color: #444;
        .content7{
            figure{
                color: #eee;
                background-color: #545454;
            }
        }
    }
    footer {
        color: #eee;
        background-color: #242220;;
        ;
    }
  }

 .themeToggle {
    color: #bbb;
    width: 3em;
  }
  
  .st-sunMoonThemeToggleBtn {
    position: relative;
    cursor: pointer;
  }
  
  .st-sunMoonThemeToggleBtn .themeToggleInput {
    opacity: 0;
    width: 100%;
    aspect-ratio: 1;
  }
  
  .st-sunMoonThemeToggleBtn svg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    transform: rotate(40deg);
  }
  
  .st-sunMoonThemeToggleBtn svg .sunMoon {
    transform-origin: center center;
    transition: inherit;
    transform: scale(1);
  }
  
  .st-sunMoonThemeToggleBtn svg .sunRay {
    transform-origin: center center;
    transform: scale(0);
  }
  
  .st-sunMoonThemeToggleBtn svg mask > circle {
    transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
    transform: translate(0px, 0px);
  }
  
  .st-sunMoonThemeToggleBtn svg .sunRay2 {
    animation-delay: 0.05s !important;
  }
  .st-sunMoonThemeToggleBtn svg .sunRay3 {
    animation-delay: 0.1s !important;
  }
  .st-sunMoonThemeToggleBtn svg .sunRay4 {
    animation-delay: 0.17s !important;
  }
  .st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.25s !important;
  }
  .st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.29s !important;
  }
  
  .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
    transform: rotate(90deg);
  }
  .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
    transform: translate(16px, -3px);
  }
  .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
    transform: scale(0.55);
  }
  .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
    animation: showRay1832 0.4s ease 0s 1 forwards;
  }
  
  @keyframes showRay1832 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

:root {
  --color-primary: #FF6F40;
  --color-contrast: #fff;
  --focus-ring: 3px solid rgba(255,111,64,0.28);
}

.skip-link {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-link:focus {
  left: 1rem;
  top: 1rem;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  background: var(--color-contrast);
  color: #000;
  z-index: 9999;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden; clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* focus styles for keyboard users */
:focus-visible {
  outline: var(--focus-ring);
  outline-offset: 2px;
}

.themeToggleInput:focus-visible {
  outline: var(--focus-ring);
  border-radius: 6px;
}

/* form label basics */
.form-label {
  display: block;
  font-size: 0.95rem;
  margin: 0.25rem 0 0.5rem;
}

